In [1]:
import pandas as pd

In [2]:
url = 'https://assets.datacamp.com/course/importing_data_into_r/latitude.xls'

In [4]:
df = pd.read_excel(url, sheet_name=None)

In [19]:
df.keys() #show the sheet names

dict_keys(['1700', '1900'])

In [28]:
df['1700'] #show the content of the selected sheet

                   country       1700
0              Afghanistan  34.565000
1    Akrotiri and Dhekelia  34.616667
2                  Albania  41.312000
3                  Algeria  36.720000
4           American Samoa -14.307000
..                     ...        ...
241            Yemen, Rep.  15.228000
242             Yugoslavia        NaN
243                 Zambia -12.942000
244               Zimbabwe -17.876000
245                  Åland  60.000000

[246 rows x 2 columns]